<header class="site-header">
	<nav class="site-nav">
		<div class="container">
			<a href="#"><img src="img/logo.png" alt="BLUEASY" class="main-logo"></a>
			<span class="main-nav-trigger trigger-nav">
				&#9776;
			</span>
			<ul class="horizontal-nav trigger-target">
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#!">Services</a></li>
				<li><a href="#!">Features</a></li>
				<li><a href="#!">Portfolio</a></li>
				<li><a href="#!">Contact</a></li>
			</ul>
		</div> <!--.container -->
	</nav>
	<div class="container">
		<h1 class="hero-heading">
			<span>“I’m looking for the unexpected.</span><br>
			<span>I’m looking for things I’ve never seen before.”</span>
		</h1>
	</div> <!--.container -->
</header> <!--header-->