<div class="stn-portfolio">
    <section class="container tab-wrapper">
        <span class="main-nav-trigger trigger-nav black">
				&#9776;
		</span>
    	<ul class="horizontal-nav black-font tab-menu trigger-target">
		    <li><a href="#link" class="active">All</a></li>
		    <li><a href="#link">Panoramas</a></li>
		    <li><a href="#link">Portraits</a></li>
		    <li><a href="#link">Macro</a></li>
		    <li><a href="#link">Journal</a></li>
		</ul>
	    <h2 class="stn-heading container black-line">portfolio
	    </h2>
	    <div class="row thumbs-row">
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-1.jpg" class="thumb-1 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-2.jpg" class="thumb-2 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-3.jpg" class="thumb-3 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-4.jpg" class="thumb-4 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-5.jpg" class="thumb-5 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-6.jpg" class="thumb-6 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-7.jpg" class="thumb-7 fancybox"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="img/portf-8.jpg" class="thumb-8 fancybox"></a></div>
	    </div><!--.row-->
	    <div class="row thumbs-row">
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div><!--.row-->
	    </div>
	    <div class="row thumbs-row">
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div><!--.row-->
	    </div>
	    <div class="row thumbs-row">
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div><!--.row-->
	    </div>
	    <div class="row thumbs-row">
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div>
	    	<div class="col-sm-6 col-md-3"><a href="#"></a></div><!--.row-->
	    </div>
    </section><!--.container-->
</div><!--.portfolio-->