<section class="stn-services">
	<h2 class="container stn-heading">services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="sprite-coffee"></div>
				<h3>coffee</h3>
				<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="sprite-instant"></div>
				<h3>Instant</h3>
				<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="sprite-serious"></div>
				<h3>serious</h3>
				<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="sprite-frame"></div>
				<h3>frame</h3>
				<p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
			</div>
		</div>
	</div><!--.container -->
</section><!--.stn-services-->