<section class="stn-video">
	<h2 class="stn-heading container">just default section</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aliquid ipsam minus recusandae a voluptatem accusantium animi eaque error, doloremque, ullam eius culpa quos nisi est, exercitationem aut, repellat.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aliquid ipsam minus recusandae a voluptatem accusantium animi eaque error, doloremque, ullam eius culpa quos nisi est, exercitationem aut, repellat.
				</p>
				<a href="#" class="btn-ghost-grey">visit me</a>
			</div>
			<div class="col-md-6 col-md-offset-1 stn-video-col">
				<div class="videoWrapper">
					<iframe src="https://player.vimeo.com/video/6686768?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>			
					</iframe>    			    
				</div><!--.videoWrapper-->
			</div><!--.col-->
		</div><!--.row-->
	</div><!--.container-->
</section><!--.stn-video-->