.stn-twitter {
	@extend .stn-padding;
	background-color: $accent;
	color: #fff;	
	p {
		font-size: 2em;
		font-weight: 300;		
		font-family: 'SegoeUILight', 'Arial', sans-serif;
		line-height: 50px;
		font-weight: 300;
		strong {
			font-weight: 600;
		}
	}
}
.stn-twitter-icon {
	font-size: 24px;
	float: right;
}